@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.image-container {
    height: 100vh;
    width: 100%;
    background-image: url('greece.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.opaque-layer {
    position: absolute;
    content: '';
    height: calc(250px + 1rem);
    width: calc(100vw - 350px);
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    /* top: calc(250px + 1rem); */
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
} 

#tours-name {
    font-family: 'Permanent Marker';
    font-size: 50px;
    color:#fffb00;
    letter-spacing: 6px;
}

.icon {
    width: 120px;
    height: 120px;
    background-image: url("icon.webp");
    background-size: cover;
}

.container {
    width: 350px;
    height: 100%;
    background-color: aliceblue;
    /* border: 5px solid; */
    background-color: darkturquoise;
    position: absolute;
    top: 0;
    right: 0;
}

#form-header {
    height: 250px;
}

form {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightseagreen;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 10px darkslategray;
}

form > h2 {
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

form > h3 {
    margin-bottom: 1rem;
    text-align: center;
}

#first-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
    border: none;    
}

#first-field input {
    width: 60%;
    font-size: 16px;
    padding: 3px;
}

#second-field {
    width: 50%;
    margin-top: 0.5rem;
    border: none;
}

#second-field *{
    margin: 3px;
    padding-left: 8px;
}

button {
    font-size: larger;
    color: white;
    padding: 10px 20px;
    margin-top: 1rem;
    border-radius: 12px;
    background-color: #1269C7;
    border: 1px solid black;
}

blockquote {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 32px;
    width: 80%;
    color: white;
    margin: 1rem auto;
}

#form-header > p {
    width: 80%;
    margin: 10px auto;  
    font-style: italic;  
}

button:hover {
    filter: brightness(80%);
}

